.text-nowrap {
    color: white;
    font-size: 0.75em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.tile-bgimage {
    background-repeat: no-repeat;
    background-size: cover;
    width: 175px;
    height: 175px;
    background-blend-mode: overlay;
    padding: 10px;
    font-weight: 600;
    position: relative;
}

.text-white.card-title.h5 {
    font-weight: 600;
    font-size: 1.1em;
}

.align-bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90%;
}

