@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

header {
  background-color: blueviolet;
  padding: 50px;
}

.posts article {
  padding: 30px 15px;
  background-color: #FFF;
}

.posts article a {
  text-decoration: none;

}

.posts article h4 {
  color: #212121;
}

.posts article:nth-child(2n){
  background-color: #f3f3f3;
}

.posts article:hover {
  background-color: blueviolet;
}

/*header .subreddit_input {
  display: inline-block;
  color: #F3F3F3;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

header:before {
  content: "/r/";
  display: inline-block;
  color: #F3F3F3;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}*/